<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/css/rooms.css">
        <title>Groupie</title>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Groupie</h1>
            <div class="userbox">
                <img src="../public/images/profilepic.jpg" class="profilepic">
                <h3 class="username">Ram Narayan Singh  |  <a href="#">Logout</a><a href="#">More Chatrooms</a></h3>
            </div>
            <div class="roomname">
                <h5>Harry Potter</h5>
            </div>
            <div class="rmessages">
                <ul class="messages">
                    <li>
                        <div class="msgbox">
                            <div class="pic">
                                <img src="../public/images/profilepic.jpg" alt="">Ram Narayan Singh
                            </div>
                            <div class="msg">
                                <p>Hey Ram. What's up? Read Cursed Child?</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rusers">
                <ul class="users">
                    <li><img src="../public/images/profilepic.jpg" alt=""><h5>Ram Narayan Singh</h5></li>
                </ul>
            </div>
            <div class="rnewmessage">
                <input type="text" class="newmessage" autocomplete="off" placeholder="Enter your message here!">
            </div>
        </div>
    </body>
</html>